.stat-card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 5, 0, 0, 2);
    -fx-transition: all 0.3s ease-in-out;
}

.stat-card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 10, 0, 0, 5);
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-cursor: hand;
}
