.title {
    -fx-font-size: 28px;
    -fx-text-fill: #1b5e20;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-font-size: 16px;
    -fx-text-fill: #388e3c;
}

.green-button {
    -fx-background-color: #2e7d32;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
}

.gray-button {
    -fx-background-color: #424242;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
}
.tag-button {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #2e7d32;
    -fx-border-width: 1;
    -fx-padding: 5 10;
}

