.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-background-color: #f5f9f5;
}

.sidebar {
    -fx-background-color: #e3f2e1;
    -fx-padding: 20px;
}

.sidebar .label {
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 10 0 10 0;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}

.button-delete {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}

.button-approve {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}

.button-reject {
    -fx-background-color: #9a8208;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}

.header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #34495e;
}

.card-header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #34495e;
    -fx-alignment: center;
    -fx-padding: 10px 0;
}

.VBox {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.2, 0, 0);
}

.VBox:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0.2, 0, 0);
}

.PieChart {
    -fx-border-radius: 10px;
}

.LineChart {
    -fx-border-radius: 10px;
}
